@model IEnumerable<MediatorReportVM>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p style="text-align:center; font-size:40px;font-weight:500" >Report for  Mediators </p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.NationalId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.BirthDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.Governorate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.Region)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model =>model.Status)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td class="d-flex align-items-center">
                            @item.Name
                        </td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.NationalId</td>
                        <td>@item.BirthDate</td>
                        <td>@item.Gender</td>
                        <td>@item.Governorate</td>
                        <td>@item.City</td>
                        <td>@item.Region</td>
                        <td>@item.Address</td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
             @if (Model.Any())
            {
                <tfoot>
                    <tr>
                        <td>Number of Cases:@TempData["count"]</td>
                    </tr>
                </tfoot>
            }
        </table>

    </div>
</body>
</html>
