@model MediatorDetailsVM

@{
    ViewData["Title"] = "Mediator Details";
}




<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold  mb-4"><span class="text-muted fw-light">Page /</span> mediator Details</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">mediator Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileImage)"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <p class="text-muted mb-0">Profile Image</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.NationalIdImage)"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <p class="text-muted mb-0">National Id Image</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">

                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label asp-for="Name" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Name" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="NationalId" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.NationalId" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="PhoneNumber" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.PhoneNumber" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="BirthDate" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.BirthDate" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Bio" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Bio" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Job" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Job" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="DateRegistered" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.DateRegistered" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Address" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Address" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Gender" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Gender" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="SocialStatus" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.SocialStatus" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Governorate" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Governorate" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="City" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.City" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Region" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Region" readonly style="background-color: #fff !important" />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label asp-for="Status" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Status" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Longitude" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Longitude" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Latitude" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Latitude" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Details" class="form-label"></label>
                                <input class="form-control" type="text" id="lastName" value="@Model.Details" readonly style="background-color: #fff !important" />
                            </div>
                            <div class="form-group mb-2" style="height: 300px; width: 100%;" id="map"></div>
                            @if (Model.ReviewsAboutMe.Any())
                            {
                                <h4>Mediator Reviews</h4>
                                <hr />

                                @foreach (var review in Model.ReviewsAboutMe)
                                {
                                    <div class="row form-group my-4 d-flex align-items-center">
                                        <div class="col-3 col-sm-2">
                                            <img width="50" height="50" class="rounded" src="data:image/png;base64,@Convert.ToBase64String(review.Image)">
                                        </div>
                                        <div class="col-4">
                                            <span class="fs-5">@review.Name</span>
                                        </div>
                                        <div class="col-4">
                                            @if (review.IsWorthy)
                                            {
                                                <span class="text-success fs-5">Worthy</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger fs-5">Unworthy</span>
                                            }
                                        </div>
                                    </div>
                                    <div>
                                        <textarea asp-for="@review.Description" disabled class="form-control bg-white">@review.Description</textarea>
                                    </div>
                                }
                            }

                            @if (Model.Status == StatusType.Submitted)
                            {
                                <div class="form-group mt-4">
                                    <form class="d-inline-block" asp-action="accept" asp-route-id="@Model.Id" method="post">
                                        <button class="btn btn-success me-3">Accept</button>
                                    </form>
                                    <button class="btn btn-danger me-3" data-bs-toggle="modal" data-bs-target="#reject">Reject</button>
                                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>


@if (Model.Status == StatusType.Submitted)
{
    <div class="modal fade" id="reject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reject Mediator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <form asp-action="Reject" asp-route-id="@Model.Id" method="post">
                    <div class="modal-body">
                        <span>Are you sure you want to reject this meditor?</span>
                        <textarea name="decription" class="form-control mt-3" placeholder="explain the reason..."></textarea>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-danger">Reject</button>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}













@*<h1>Mediator Details</h1>

<hr />
<div class="row">
    <div class="col-md-10 col-lg-8">
        <img width="200" height="200" class="rounded-circle mx-auto d-block mb-4" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileImage)">
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Name" disabled class="col-auto form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
            </div>
            <div class="col-9">
                <input asp-for="PhoneNumber" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="NationalId" class="control-label">National ID</label>
            </div>
            <div class="col-9">
                <input asp-for="NationalId" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="BirthDate" class="control-label">Birthdate</label>
            </div>
            <div class="col-9">
                <input asp-for="BirthDate" type="@(Model.BirthDate.HasValue ? "date" : "text")" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Bio" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Bio" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Governorate" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Governorate" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="City" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="City" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Region" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Region" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Job" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Job" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Address" class="control-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="Address" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="DateRegistered" class="control-label">Date Registered</label>
            </div>
            <div class="col-9">
                <input asp-for="DateRegistered" type="text" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Gender" class="control-label">Gender</label>
            </div>
            <div class="col-9">
                <input asp-for="Gender" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="SocialStatus" class="control-label">Social Status</label>
            </div>
            <div class="col-9">
                <input asp-for="SocialStatus" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Latitude" class="control-label">Latitude</label>
            </div>
            <div class="col-9">
                <input asp-for="Latitude" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-3">
            <div class="col-3">
                <label asp-for="Longitude" class="control-label">Longitude</label>
            </div>
            <div class="col-9">
                <input asp-for="Longitude" disabled class="form-control bg-white" />
            </div>
        </div>
        <div class="row form-group mb-4">
            <div class="col-3">
                <label asp-for="NationalIdImage" class="control-label">National ID Image</label>
            </div>
            <div class="col-9">
                <img class="rounded mx-auto img-fluid d-block" src="data:image/png;base64,@Convert.ToBase64String(Model.NationalIdImage)">
            </div>
        </div>
        <div class="form-group" style="height: 500px; width: 800px;" id="map"></div>
        @if (Model.ReviewsAboutMe.Any())
        {
            <h4>Mediator Reviews</h4>
            <hr />

            @foreach (var review in Model.ReviewsAboutMe)
            {
                <div class="row form-group my-4 d-flex align-items-center">
                    <div class="col-3 col-sm-2">
                        <img width="50" height="50" class="rounded" src="data:image/png;base64,@Convert.ToBase64String(review.Image)">
                    </div>
                    <div class="col-4">
                        <span class="fs-5">@review.Name</span>
                    </div>
                    <div class="col-4">
                        @if (review.IsWorthy)
                        {
                            <span class="text-success fs-5">Worthy</span>
                        }
                        else
                        {
                            <span class="text-danger fs-5">Unworthy</span>
                        }
                    </div>
                </div>
                <div>
                    <textarea asp-for="@review.Description" disabled class="form-control bg-white">@review.Description</textarea>
                </div>
            }
        }

        @if (Model.Status == StatusType.Submitted)
        {
            <div class="form-group mt-4">
                <form class="d-inline-block" asp-action="accept" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-success me-3">Accept</button>
                </form>
                <button class="btn btn-danger me-3" data-bs-toggle="modal" data-bs-target="#reject">Reject</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        }
    </div>
</div>

@if (Model.Status == StatusType.Submitted)
{
    <div class="modal fade" id="reject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reject Mediator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <form asp-action="reject" asp-route-id="@Model.Id" method="post">
                    <div class="modal-body">
                        <span>Are you sure you want to reject this meditor?</span>
                        <textarea name="decription" class="form-control mt-3" placeholder="explain the reason..."></textarea>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-danger">Reject</button>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}*@
@section Scripts{
<script>
    function initMap() {
        console.log('hello my map')
        var options = {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            center: {
                lat: 30.0444,
                lng: 31.2357
            }
        }

        //a new map
        var map = new google.maps.Map(document.getElementById('map'), options)
        var marker
        addMarker({
            coords: {
                lat: @Model.Latitude,
                lng: @Model.Longitude
        },
            iconImage: ""

        })
        function addMarker(props) {
            marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                icon: props.iconImage

            })
        }
    }
</script>
}
