@model EditMediatorVM

@{
    ViewData["Title"] = "Edit Mediator";
}


<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page/</span> Edit Mediators form</h4>
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Edit new Mediators</h5>
            <small class="text-muted float-end">Mediators form</small>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-rename'></i></span>
                            <input asp-for="Name"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter Case Name ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="PhoneNumber">Phone Number</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-phone-call'></i></span>
                            <input asp-for="PhoneNumber"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter phone number ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="NationalId"> National Id</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="NationalId"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter National ID ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="NationalId" class="text-danger"></span>
                    </div>
                </div>

                 <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Job"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input asp-for="Job"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter your Job tilte ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Job" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Address"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input asp-for="Address"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter your address ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                
                 <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Bio"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input asp-for="Bio"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter the Bio ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="BirthDate"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bxs-calendar'></i></span>
                            <input asp-for="BirthDate"
                                   type="date"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter your BirthDate ..."
                                   aria-describedby="basic-icon-default-fullname2"
                                   id="start" name="BirthDate"
                                   min="1990-01-01" max="2090-1-1" value="" />
                        </div>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="GenderId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-male-female'></i></span>
                            <select asp-for="GenderId" class="form-control" asp-items="@(new SelectList(Model.Genders,"Id","Name"))"></select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="SocialStatusId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bxs-network-chart'></i></span>
                            <select asp-for="SocialStatusId" class="form-control" asp-items="@(new SelectList(Model.SocialStatus,"Id","Name"))"></select>
                        </div>
                    </div>
                </div>

                 <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Region.City.GovernorateId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-location-plus'></i></span>
                            <select for="GovernorateId" id="ddlGovernorate" class="form-control" asp-items="@(new SelectList(Model.Governorates,"Id","Name", Model.Region?.City?.GovernorateId ?? 0))">
                                <option value="0">No Governorate</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="ddlLocation" class=@(Model.RegionId == null ? "d-none" : "d-block")>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="Region.CityId"></label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bxs-city'></i></span>
                                <select for="CityId" id="ddlCity" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="RegionId"></label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                                <select asp-for="RegionId" id="ddlRegion" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="NationalIdImageFile"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="NationalIdImage"
                                   type="file"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Select national card image ..."
                                   aria-describedby="basic-icon-default-fullname2"
                                   id="formFile" />
                        </div>
                        <span asp-validation-for="NationalIdImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="ProfilePictureFile" for="customFile"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="ProfilePictureFile"
                                   type="file"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Select Profile Picture ..."
                                   aria-describedby="basic-icon-default-fullname2"
                                   id="formFile" />
                        </div>
                        <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Longitude"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Longitude" readonly
                                   class="form-control"
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Latitude"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Latitude" readonly
                                   class="form-control"
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Details"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Details"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-describedby="basic-icon-default-fullname2" />

                        </div>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>

                <div class=" col-sm-10" style="height: 250px; width: 100%;" id="map"></div>

                <div class="row justify-content-end mt-5 text-end">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*
<h1>Edit Mediator</h1>
<hr />

<div class="row">
    <div class="col-md-9 col-lg-7">
        <img width="200" height="200" class="rounded-circle mx-auto d-block mb-4" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NationalId" class="control-label">National ID</label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Job" class="control-label"></label>
                <input asp-for="Job" class="form-control" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="control-label" for="start"></label>
                <input asp-for="BirthDate" type="date" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="GenderId" class="control-label">Gender</label>
                <select asp-for="GenderId" class="form-select" asp-items="@(new SelectList(Model.Genders,"Id","Name"))">
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SocialStatusId" class="control-label">Social Status</label>
                <select asp-for="SocialStatusId" class="form-select" asp-items="@(new SelectList(Model.SocialStatus,"Id","Name"))"></select>
                <span asp-validation-for="SocialStatusId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Region.City.GovernorateId" class="control-label">Governorate</label>
                <select for="Region.City.GovernorateId" id="ddlGovernorate" class="form-select" asp-items="@(new SelectList(Model.Governorates,"Id","Name", Model.Region?.City?.GovernorateId ?? 0))">
                    <option value="0"> - No Location - </option>
                </select>
                <span asp-validation-for="Region.City.GovernorateId" class="text-danger"></span>
            </div>
            <div id="ddlLocation" class=@(Model.RegionId == null ? "d-none" : "d-block")>
                <div class="form-group mb-3">
                    <label asp-for="Region.CityId" class="control-label">City</label>
                    <select for="Region.CityId" id="ddlCity" class="form-select"></select>
                    <span asp-validation-for="Region.CityId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RegionId" class="control-label">Region</label>
                    <select asp-for="RegionId" id="ddlRegion" class="form-select"></select>
                    <span asp-validation-for="RegionId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NationalIdImage" class="control-label">National ID Image</label>
                <img class="rounded mx-auto img-fluid d-block" src="data:image/png;base64,@Convert.ToBase64String(Model.NationalIdImage)">
            </div>
            <div class="form-group mb-3">
                <label asp-for="NationalIdImageFile" class="control-label"></label>
                <input asp-for="NationalIdImageFile" class="form-control">
                <span asp-validation-for="NationalIdImageFile" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProfilePictureFile" class="control-label" for="customFile"></label>
                <input asp-for="ProfilePictureFile" class="form-control">
                <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label mb-3"></label>
                <input asp-for="Longitude" class="form-control" readonly />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label mb-3"></label>
                <input asp-for="Latitude" class="form-control" readonly />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label mb-3"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group" style="height: 400px; width: 600px;" id="map"></div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary me-3">Save </button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>*@

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
<script>
    let governoratesList = document.getElementById('ddlGovernorate');
    let citiesList = document.getElementById('ddlCity');
    let regionsList = document.getElementById('ddlRegion');
    let locationDiv = document.getElementById('ddlLocation');
    governoratesList.onchange = function ()
        {
            if(governoratesList.value == 0)
            {
                locationDiv.className = 'd-none';
                regionsList.value = '';
            }
            else
            {
                locationDiv.className = 'd-block';
                updateCitiesList();
            }
        };

    citiesList.onchange = updateRegionsList;

    $(document).ready(() => {
        let cityId = null;
        let regionId = null;
        @if(Model.Region != null)
        {
            @: cityId = @Model.Region.CityId;
            @: regionId = @Model.RegionId;
        }

        if(cityId != null)
        {
            $.ajaxSetup({'async': false});
            updateCitiesList();
            citiesList.value = cityId;
            updateRegionsList();
            $.ajaxSetup({'async': true});
            regionsList.value = regionId;
        }
    });

    function updateCitiesList() {
        $.getJSON('/api/cities/' + governoratesList.value, function(result) {
            citiesList.innerHTML = '';
            result.data.forEach(d => citiesList.append(new Option(d.name, d.id)));
        }).done(updateRegionsList);
    }

    function updateRegionsList() {
        $.getJSON('/api/regions/' + citiesList.value, function(result) {
            regionsList.innerHTML = '';
            result.data.forEach(d => regionsList.append(new Option(d.name, d.id)));
        });
    }

    function initMap() {
        console.log('hello my map')
        var options = {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            center: {
                lat: 30.0444,
                lng: 31.2357
            }
        }

        //a new map
        var map = new google.maps.Map(document.getElementById('map'), options)
        var marker
        addMarker({
            coords: {
                lat: @Model.Latitude,
                lng: @Model.Longitude
            },
            iconImage: ""

        })

        function addMarker(props) {
            marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                icon: props.iconImage

            })
        }
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            if (marker == undefined) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    animation: google.maps.Animation.DROP,
                });
            } else {
                marker.setPosition(location);
            }
            document.getElementById('Latitude').value = location.lat();
            document.getElementById('Longitude').value = location.lng();

        }
    }
</script>
}
