@model IEnumerable<City>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!-- Bootstrap Table with Caption -->
<div class="card mt-5 mb-2">
    <div class="row m-4">
        <div class="col-6">
            <h5 class="tableName">Cities Table</h5>
        </div>
        <div class="col-6 text-end mb-1">
            <a asp-action="create" class="btn btn-primary">Create New city</a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <caption class="ms-4">
                @if (Model.Any())
                {
                    <span>Number of cities: @TempData["count"]</span>
                }
            </caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>@Html.DisplayNameFor(m => m.GovernorateId)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>@item.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.Governorate.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id" asp-route-id="@item.Id">
                                        <i class="bx bx-edit-alt me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal"
                                   onclick="document.getElementById('deleteform').action = '/city/delete/@item.Id'">
                                        <i class='bx bx-trash'></i>Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ?  "active" : "")">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-pg="@pge"> @pge </a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-pg="@(pager.CurrentPage +1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="City" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
<div class="modal" id="Modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">City</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				Are you sure you want delete this City ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<form id="deleteform" asp-action="delete" method="post">
					<button class="btn btn-danger">Yes</button>
				</form>
			</div>
		</div>
	</div>
</div>