@model CrudCaseVM

@{
    ViewData["Title"] = "Create Cases";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label mb-3"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label mb-3"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label mb-3"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label mb-3" for="start"></label>
                <input asp-for="BirthDate" type="date" id="start" name="BirthDate"
                       min="1990-01-01" max="2090-1-1" class="form-control" value="">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input id="image1" asp-for="NationalIdImage" class="form-control mb-3" type="file" id="formFile">
                <label  asp-for="NationalIdImage" for="formFile" class="form-label"></label>
                <span asp-validation-for="NationalIdImage" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Adults" class="control-label mb-3"></label>
                <input asp-for="Adults" class="form-control" />
                <span asp-validation-for="Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children" class="control-label mb-3"></label>
                <input asp-for="Children" class="form-control" />
                <span asp-validation-for="Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeededMoneyAmount" class="control-label mb-3"></label>
                <input asp-for="NeededMoneyAmount" class="form-control" />
                <span asp-validation-for="NeededMoneyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label mb-3" for="start"></label>
                <input asp-for="PaymentDate" type="date" id="start" name="PaymentDate"
                       min="1990-01-01" max="2090-1-1" class="form-control" value="">
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label mb-3"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label mb-3"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story" class="control-label mb-3"></label>
                <input asp-for="Story" class="form-control" />
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label mb-3"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityId" class="control-label mb-3"></label>
                <select asp-for="PriorityId" class="form-control" asp-items="@(new SelectList(Model.Priorities,"Id","Name"))">
                </select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="@(new SelectList(Model.Gender,"Id","Name"))">
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediatorId" class="control-label"></label>
                <select asp-for="MediatorId" class="form-control" asp-items="@(new SelectList("","Id","Name"))">
                </select>
                <span asp-validation-for="MediatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipId" class="control-label"></label>
                <select asp-for="RelationshipId" class="form-control" asp-items="@(new SelectList("","Id","Name"))">

                </select>
                <span asp-validation-for="RelationshipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodId" class="control-label"></label>
                <select asp-for="PeriodId" class="form-control" asp-items="@(new SelectList("","Id","Name"))">
                </select>
                <span asp-validation-for="PeriodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialStatusId" class="control-label mb-3"></label>
                <select asp-for="SocialStatusId" class="form-control" asp-items="@(new SelectList(Model.SocialStatus,"Id","Name"))">
                </select>
                <span asp-validation-for="SocialStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GovernorateId" class="control-label mb-3"></label>
                <select asp-for="GovernorateId"  id="Governorate" class="form-control" asp-items="@(new SelectList(Model.Governorates,"Id","Name"))">
                </select>
                <span asp-validation-for="GovernorateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label mb-3"></label>
                <select asp-for="CityId" id="ddlgovernorate" class="form-control" asp-items="@(new SelectList(Model.cities,"Id","Name"))">
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label mb-3"></label>
                <select asp-for="RegionId" id="ddlcity" class="form-control" asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label mb-3"></label>
                <select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(Model.Status,"Id","Name"))"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary me-3">Create</button>
				<a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
   
        /*Governorate >> City >> Region*/
        function updatesubcategorylist() {
            var selectcategory = document.getElementById("ddlgovernorate").value;
            $list = $('#ddlcity');
            $.ajax({
                url: '/Case/GetRegion/' + selectcategory,
                type: 'GET',
                datatype: 'text',
                success: function (data) {
                    $list.html('');
                    var items = '';
                    for (i in data) {
                        items += '<option value="' + data[i].value + '">' + data[i].text + '<option>';
                    }
                    $list.html(items);
                }
            });
        }
        $(document).ready(updatesubcategorylist);
        $("#ddlgovernorate").on("change", function () {
            updatesubcategorylist();
        })

 //   let governoratesList = document.getElementById('Governorate');
	//governoratesList.onchange = updateCitiesList;

	//let citiesList = $('#ddlgovernorate');

	//$(document).ready(updateCitiesList);

	//function updateCitiesList() {
	//	$.getJSON('/api/cities/' + governoratesList.value, function(result) {
	//		citiesList.empty();
	//		result.data.forEach(d => citiesList.append(new Option(d.name, d.id)));
	//	});
	//}
    </script>
}